
// section#testimonials {
// 	grid-template-columns: 1fr minmax(450px, 1200px) 1fr;
//     display: grid;
// 	grid-area: testimonials;
// 	.testimonial {
// 		grid-column: 2 / 3;
// 		max-width: 1000px;
// 		margin: 1rem auto;
// 		.quote {
// 			quotes: "“" "”" "‘" "’";
// 		  }
// 		  .quote::before {
// 			  content: open-quote;
// 			  font-size: 2rem;
// 		  }
// 		  .quote::after {
// 			  content: close-quote;
// 			  font-size: 2rem;
// 		  }
// 		img {
// 			border-radius: 50%;
// 			margin: 40px 2rem;
// 		}
// 		&.left {
// 			border-bottom: 1px solid rgba(0,0,0,.1);
// 			.quote {
// 				margin-left: 200px;
// 			}
// 			img {
// 				float: left;
// 			}
// 			.title {
// 				text-align: right;
// 			}
// 		}
// 		&.right{
// 			img {
// 				float: right;
// 			}
// 		} 
// 	}
// }